.header {
  margin-top: 30px;

  span.status {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
  }

  div.col-xs-1 {
    margin-top: 15px;
  }

  button {
    min-width: 100px;
  }

  .connected {
    background-color: rgb(114, 164, 30);
  }

  .disconnected {
    background-color: rgb(222, 19, 19);
  }
}
